<!DOCTYPE html>
<html lang="en" ng-app="NoteApp">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <script src="angular.min.js"></script>
    <script src="app/noteAPP.js"></script>
    <script src="app/noteController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/style.css" media="all"/>
    <link href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body ng-controller="NoteController as noteCtrl">
<div id="mainNote" class="ng-scope">
<div name="topPage" class="panel-heading">
    Ex 1 : Note Application
</div>

<br><br>

<div name = "textNote" >
    <label> Note : </label>
    <br>
    <textarea name="note" id="note" rows="5" cols="50" ng-model="noteCtrl.messageNote" ng-change="noteCtrl.count()" maxlength="100">{{noteCtrl.sauvegarde}}</textarea>

    <br><br>


    <button class="btn btn-primary" ng-click="noteCtrl.save()">Enregistrer</button>
    <button class="btn btn-primary" ng-click="noteCtrl.clear()">Effacer</button>
</div>


Nombre de caractères restant : {{noteCtrl.caractere}}

    <div data-ng-class="{'alert-warning': count()<50 && info!='Note sauvegardée', 'alert-danger' : count()<20 && info!='Note sauvegardée', 'alert-succedd': info =='Note sauvegardée'}" class="alert alert-dismissible alert-info ng-hide" role="alert" data-ng-show="info">
        <span class="ng-binding">Note modifiée</soan>
    
    </div>

</div>
</div>
</body>
</html>