<!DOCTYPE html>
<html lang="en" ng-app="ListesApp">
<head>
    <meta charset="UTF-8">
    <title>Listes</title>
    <script src="angular.min.js"></script>
    <script src="app/ListesApp.js"></script>
    <script src="app/ListesController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body ng-controller="ListesController as liste">
    <div ng-view class="toggle ng-scope" style>
        <h4>Sélectionnez vos produits</h4>
        <select size="8" multiple="multiple"  
                ng-options="item.title for item in liste.dispoItems" 
                data-ng-model="liste.selectedDispoItems">
        </select>
    </div>
    
    <div ng-view class="toggle ng-scope" style>
        <h4>Sélectionnez vos produits</h4>
        <select size="8" multiple="multiple"  
                ng-options="item.title for item in liste.includedItems" 
                data-ng-model="liste.selectedIncludedItems">
        </select>
    </div>
    
</body>
</html>