<html lang="fr" ng-app="CurrencyApp">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <script src="angular.min.js"></script>
    <script src="app/CurrencyApp.js"></script>
    <script src="app/CurrencyController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    
    <body data-ng-controller="currencyController as currency" ng-view class="toggle ng-scope">
        <div class="panel panel-primary" data-ngcloak>
            <div class="panel-heading">Ex 3 : Currency Application</div>
            <div class="panel-boddy">
                <form class="form-group form-inline ng-valid ng-dirty ng-valid-parse" style>
                    <input data-ng-model="what" type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" size="5" style>
                    
                    <select data-ng-model="currency.from" data-ng-options="v.code + ' - ' + v.name for (k, v) in currency.currencies" class="form-control ng-pristine ng-untouched ng-valid">
                    </select>
                    
                    <a href="#" data-ng-click="currency.swap()">↔</a>
                    
                    <select data-ng-model="currency.to" data-ng-options="v.code + ' - ' + v.name for (k, v) in currency.currencies" class="form-control ng-pristine ng-untouched ng-valid">
                    </select>
                    
                    <input type="button" value="Convertir" class="btn btn-primary" data-ng-click ="currency.getResult()">
                    
                    <input data-ng-model="currency.result" type="text" class="form-control ng-pristine ng-untouched ng-valid" readonly="readonly" size="5">
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="histo" class="ng-valid ng-dirty ng-valid-parse ng-touched" style>
                            Historique
                        </label>
                    </div>
                    

                </form>
            </div>
            <div class="container-fluid">
                <div data-ng-show="histo" class="panel panel-default" style>
                    <div class="panel-body">
                        <table class="table table-striped" id="lstHisto" style="table-layout:fixed; width: 100%">
                            <tbody>
                                <tr>
                                    <th>DE</th>
                                    <th>EN</th>
                                    <th class="text-center">Tx</th>
                                    <th class="text-center">Montant</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Delta</th>
                                </tr>
                                <tr histo-elem class="animate-repeat ng-scope" data-ng-repeat="(id,conversion) in historique" data-ng-class="{'info' : conversion.update, 'danger': conversion.delta<0, 'success': conversion.delta>0}" style></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
    </body>
</html>